* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* App */
.App {
  font-family: sans-serif;
  text-align: center;

  /* to do comp center */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  padding: 10px;
}
/* app heading */
.App h1 {
  padding: 10px;
  margin-bottom: 20px;
}

/* calculator component that have display screen and buttons */
.calculator {
  width: 300px;
  height: 400px;
  border: solid gray;
  border-radius: 10px;
  box-shadow: 0 0 3px 3px rgb(247, 238, 238);
  padding: 10px;
  background-color: lightgrey;
}

/* display result screen */
.result-screen {
  border-radius: 10px;
  width: 100%;
  height: 100px;
  padding: 10px;
  background-color: #121232;
  color: white;
  font-family: monospace;

  font-size: 1.2rem;

  text-align: right;
  margin-bottom: 5px;
}

/* All button of calculator */
.buttons {
  border-radius: 10px;
  box-shadow: 0 0 3px 3px grey;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.buttons button {
  width: 60px;
  height: 50px;
  /* border: 1px solid; */

  /* to do comp center */
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  font-size: 1.4rem;
}
.buttons button:nth-child(17) {
  width: 120px;
}
.buttons button:nth-child(4n){
  background-color:#033;
  color:white;
}
.buttons button:nth-child(4n):hover{
  background-color:#011;
  color:white;
}
.buttons button:last-child{
  background-color:#033;
  color:white;
}
.buttons button:last-child:hover{
  background-color:#011;
  color:white;
}